<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <title> {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{MEDIA_URL}}css/reset.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/960.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/text.css" type="text/css" media="screen, projection">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{MEDIA_URL}}css/site.css" type="text/css" media="screen, projection">
    {% block extrahead %}{% endblock %}
</head>
<body id="{% block body_id_block %}{% endblock %}" class="reset">
    <div id="masthead" class=""> 
        <div class="wrap container_12"> 
        <h2 id="SiteTitle"><a href="/" title="Home">Metatags Example</a></h2>     
        </div> 
    </div> 
    <div id="content" class="wrap container_12 clearfix">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>
